<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Teacher Login</title>
  
  <link rel="stylesheet" href="/static/DisciplineCommittee/style.css">
</head>
<body>


  <div class="bubbles">
    <span></span><span></span><span></span>
    <span></span><span></span><span></span>
    <span></span>
  </div>

  <img src="https://media3.giphy.com/media/v1.Y2lkPTc5MGI3NjExMmE3YjM5bTRoM3ZneTYxbDdjcmNjc2NrNXd4NXgybHZ5dzdscXNtaiZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ATm4r0cHYxmdG/giphy.gif" alt="background animation" class="bg-gif">

  <main class="responsive-wrapper">
    <div class="bubble-container">
      <h2>Teacher Login</h2>
      <div id="status" class="status-message"></div>

<form method="post" action="{% url 'teacher_login' %}">
  {% csrf_token %}
  <div class="input-group">
    <input id="teacher-email" type="email" name="email" placeholder="Email" required>
  </div>

  <div class="input-group">
    <input id="teacher-pass" type="password" name="password" placeholder="Password" required>
    <button class="show-pass" type="button" onclick="togglePassword('teacher-pass', this)">Show</button>
  </div>

  {% if request.GET.next %}
  <input type="hidden" name="next" value="{{ request.GET.next }}">
  {% endif %}

  <button class="login-btn" type="submit">Login</button>

  <div class="form-footer">
    Don't have an account? <a href="#" onclick="toggleRegister('teacher', true); return false;">Register</a>
  </div>

  <div class="form-footer">
    <a href="{% url 'teacher_forgot_password' %}">Forgot Password?</a> 
  </div>
</form>

      <div id="teacher-register" style="display:none; margin-top:18px;">
  <hr style="margin:12px 0; opacity:0.2;">
  <h3 style="text-align:center; margin-bottom:12px;">Teacher Register</h3>
<form method="post" action="{% url 'teacher_register' %}">   
   {% csrf_token %}
    <div class="input-group">
      <input id="t-email" type="email" name="email" placeholder="Email" required>
    </div>
    <div class="input-group">
      <input id="t-pass" type="password" name="password" placeholder="Password" required>
      <button class="show-pass" type="button" onclick="togglePassword('t-pass', this)">Show</button>
    </div>
    <button class="login-btn" type="submit">Register</button>
    <div class="form-footer">
      <a href="#" onclick="toggleRegister('teacher', false); return false;">Back to Login</a>
    </div>
  </form>
</div>
    </div>
  </main>



  <script src="/static/DisciplineCommittee/script.js"></script>
</body>
</html>
